html {
  font-family: $font-default;
}

.heading-primary {
  &__main {
    display: block;
    font-size: 10rem;
    line-height: 10.5rem;
    font-family: $font-heading;
    font-weight: 600;

    @include respond(tab-port) {
      font-size: 14rem;
      line-height: 14.2rem;
    }

    @include respond(phone) {
      font-size: 7.8rem;
      line-height: 8rem;
    }

    @include respond(phone-small) {
      font-size: 6rem;
      line-height: 6.2rem;
    }

    &--top {
      display: block;
      opacity: 0;
      animation: moveInLeft 2s cubic-bezier(0.57, 0, 0, 1) forwards;
    }

    &--center {
      animation: fadeIn 1s ease-in-out;
    }

    &--bottom {
      display: block;
      opacity: 0;
      animation: moveInRight 2s cubic-bezier(0.57, 0, 0, 1) forwards;
    }
  }

  &__sub {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    font-weight: 700;
    color: $color-accent;
    opacity: 0;
    animation: moveInTop 1.5s cubic-bezier(0.21, 0, 0, 0.99) 0.5s forwards;
  }
}

.heading-secondary {
  display: block;
  position: relative;
  font-size: 4em;
  font-weight: 600;

  // @include respond(tab-port) {
  //   padding-left: 4rem;
  // }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1.5rem;
    height: 3px;
    width: 100%;
    background: linear-gradient(
      to left,
      rgba($color-accent-light, 0.5),
      rgba($color-accent, 0.8)
    );
  }
}
