html {
  font-family: $font-default;
}

.heading-primary {
  &__main {
    display: block;
    font-size: 10rem;
    line-height: 10.5rem;
    font-family: $font-heading;
    font-weight: 800;

    @include respond(tab-port) {
      font-size: 14rem;
      line-height: 14.2rem;
    }

    @include respond(phone) {
      font-size: 7.8rem;
      line-height: 8rem;
    }

    @include respond(phone-small) {
      font-size: 6rem;
      line-height: 6.2rem;
    }

    &--top {
      display: block;
      opacity: 0;
      animation: moveInLeft 2s cubic-bezier(0.57, 0, 0, 1) 0.1s forwards;
    }

    &--center {
      animation: fadeIn 1s ease-in-out 0.1s;
    }

    &--bottom {
      display: block;
      opacity: 0;
      animation: moveInRight 2s cubic-bezier(0.57, 0, 0, 1) 0.1s forwards;
    }
  }

  &__sub {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    font-weight: 700;
    color: $color-accent;
    opacity: 0;
    animation: moveInTop 1.5s cubic-bezier(0.21, 0, 0, 0.99) 0.6s forwards;
  }
}

.heading-secondary {
  display: inline-block;
  position: relative;
  font-size: 6.8rem;
  font-family: $font-heading;
  font-weight: 500;
  line-height: 105%;

  &--bold {
    font-weight: 700;
  }

  &--arrow {
    &::after {
      font-family: $font-default;
      content: "\2193";
      font-size: 2.8rem;
      margin-left: 1rem;
      display: inline-block;
      transform: translateY(-0.8rem);
    }
  }

  @include respond(phone) {
    font-size: 5rem;
  }

  .highlight {
    display: inline-block;
    color: $color-accent-attenuated;
    font-weight: 600;
    font-style: italic;
  }

  &--number {
    font-size: 20rem;
    color: white;
    font-weight: 500;
  }
}

.avoid-wrap {
  display: inline-block;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0.16rem;
  font-weight: 500;
  // padding-left: 1.6rem;
  position: relative;
  color: $color-accent;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 0.3rem;
  //   bottom: 0.3rem;
  //   width: 3px;
  //   background-color: $color-accent-attenuated;
  // }
}

.heading-four {
  font-size: 4rem;
  font-family: $font-heading;
  font-weight: 500;
  line-height: 110%;

  .highlight {
    display: inline-block;
    color: $color-accent-attenuated;
    font-weight: 600;
    font-style: italic;
  }
}

.heading-five {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.body-text {
  font-size: 1.8rem;
  margin-top: 1.2rem;
  font-weight: 300;

  @include respond(tab-land) {
    font-size: 2rem;
  }
}
