//colors
$color-background: rgb(255, 255, 255);
$color-grey-light: #ebf2fc;
$color-primary: #2c2e47;
$color-accent: #6a81ff;
$color-accent-attenuated: #7a8eff;
$color-accent-light: #b0c3ff;
$color-accent-extralight: #c1b5f7;
$color-accent-dark: #3e21e2;

//font families
$font-default: "Poppins", sans-serif;
$font-heading: "Crimson Pro", serif;
