//colors
$color-background: rgb(250, 250, 250);
$color-primary: #24263b;
$color-accent: #5972ff;
$color-accent-light: #a7bcff;
$color-accent-extralight: #c1b5f7;
$color-accent-dark: #3e21e2;

//font families
$font-default: "Rubik", sans-serif;
$font-heading: "Taviraj", serif; ;
