.section-introduction {
  padding: 10rem 0;
  background: linear-gradient(
    to right bottom,
    rgba($color-accent-light, 0.8),
    rgba($color-accent, 1)
  );
}

.section-projects {
  padding: 12rem 0;
  position: relative;
}
