.container-introduction {
  @include respond(phone) {
    padding: 0 0;
  }
}
.introduction {
  display: flex;
  justify-content: flex-end;
  //@include respond(tab-port) {
  //justify-content: flex-start;
  //}
  padding: 12rem 12rem;
  border-radius: 2rem;
  background: $color-accent-light;

  @include respond(tab-port) {
    padding: 12rem 6rem;
  }

  @include respond(phone) {
    padding: 12rem 2rem;
    border-radius: 0;
  }

  &__text {
    flex: 0 0 calc((100% - #{$gutter-width}) / 2);
    font-size: 2rem;
    line-height: 160%;

    @include respond(tab-port) {
      flex: 0 0 calc(2 * (100% - 2 * #{$gutter-width}) / 3 + #{$gutter-width});
    }

    @include respond(phone) {
      flex: 1;
    }
  }

  &__paragraph {
    color: rgb(10, 15, 20);

    strong {
      font-weight: 700;
      color: $color-primary;
    }

    &:first-child {
      margin-bottom: 2rem;
    }
  }
}
