.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: rgba($color-background, 0);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0);

  z-index: 999;

  &__logo-box {
    width: 4.8rem;

    @include respond(phone) {
      width: 6rem;
    }
  }

  &__list-item {
    display: inline-block;
    &:not(&:last-child) {
      padding-right: 4rem;
    }
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 500;

    &:link,
    &:visited {
      color: black;
    }
  }
}
